.el-table__empty-block {
  justify-content: start!important;
  width: 100%!important;
}

.el-table__empty-text {
  width: 100%!important;
}

.ygp-crud__empty {
  padding: 60px 0;
}

.ygp-empty {
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.ygp-empty__image {
  height: 50px;
  margin-bottom: 8px;
}
