.table--fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // overflow: auto;
  margin: 0;
  z-index: 5;
}

.crud__menu {
  // padding: 0 20px 12px;
  // min-height: 40px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.crud-title {
  font-size: 18px;
  font-weight: bold;
}

.query-filter {
  .el-form-item--small.el-form-item {
    margin: 0;
    margin-bottom: 12px;
    margin-right: 12px;
  }
}

.crud-component {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  // 搜索表单
  .search-form {
    background-color: white;

    .rule-form {
      padding: 16px 24px 0;
    }
  }

  // 表格头部
  .crud-header {
    padding-bottom: 12px;
    position: relative;
    .red-star {
      color: red;
      position: absolute;
      top: 10px;
      left: -10px;
    }
    .crud-title {
      margin: 0;
    }
    .crud-title-large {
      font-size: 20px;
    }
  }

  // 提示
  .crud__tip {
    margin-bottom: 10px;
  }
  .crud__tip-name {
    margin-right: 10px;
  }
  .crud__tip-count {
    font-size: 16px;
    font-weight: 600;
    margin: 0 3px;
  }

  // 表格
  .table-component {
    background-color: white;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 16px;
    line-height: 20px;

    // 滚动条样式
    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
    }
    &::-webkit-scrollbar-thumb {
      background: #d8d6d6;
    }

    .cell-form {
      flex: 1;
      overflow: auto;
      .el-table th {
        background-color: rgba(250, 250, 250, 1);
        color: rgba(0, 0, 0, 0.847058823529412);
        // z-index: 999;
      }
      // .el-table__fixed-right {
      //   z-index: 1000;
      // }
      // .el-form-item {
      //   margin-bottom: 10px;
      //   &.is-error{
      //     margin-bottom: 22px;
      //     margin-top: 10px;
      //   }
      // }
      .el-form-item {
        margin-bottom: 0;
      }
      .el-form-item__error {
        width: 100%;
        text-align: left;
        // position: relative;
      }
      .cell {
        overflow: visible;
      }
    }

    .pagination {
      padding-top: 12px;
      text-align: right;
    }
  }

  // 搜索表单 + 表格
  .search-form + .table-component {
    // margin-top: 15px;
    padding-top: 0;
  }

  // 警告框
  .el-alert {
    margin-bottom: 20px;
  }

  .crud-component {
    .table-component {
      padding: 0;
    }
  }
}

// form组件 + crud组件
.form-component + .crud-component {
  margin-top: 20px;
}

// crud组件 + crud组件
.crud-component + .crud-component {
  margin-top: 20px;
}

.dialog-search-btns {
  .el-form-item__content {
    margin-left: 20px !important;
  }
}

.el-table .row-expand-hide .cell .el-table__expand-icon {
  display: none;
}

// 行选中
.el-table tr.selected {
  background-color: #ffefe9;
}

// 文字省略
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*滚动条整体样式*/
.el-table__body-wrapper,
.el-table__fixed-body-wrapper {
  &::-webkit-scrollbar {
    width: 9px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background: #d8d6d6;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }
}

// 修复列表页样式
.cell-form {
  .el-table__header-wrapper {
    width: calc(100% - 9px) !important;
  }
  // .el-table__fixed-right {
  //   height: calc(100% - 8px)!important;
  // }
  .el-table--scrollable-y .el-table__fixed-right {
    right: 9px !important;
  }
}

// 列表页面样式
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 3;
}

// 吸附样式
.table_sticky {
  .el-table {
    overflow: visible;
  }

  .el-table__header-wrapper {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .el-table__fixed {
    overflow: visible;

    .el-table__fixed-header-wrapper {
      position: sticky;
      left: 0;
      top: 0;
      z-index: 5;
      width: inherit;
      overflow: hidden;
    }

    .el-table__fixed-body-wrapper {
      width: inherit;
      overflow: hidden;
    }
  }

  .el-table__fixed-right {
    overflow: visible;
    .el-table__fixed-header-wrapper {
      position: sticky;
      top: 0;
      z-index: 5;
      width: inherit;
      height: 48px;
      overflow: hidden;

      .el-table__header {
        position: absolute;
        right: 0;
        left: auto;
      }
    }

    .el-table__fixed-body-wrapper {
      width: inherit;
      overflow: hidden;
      height: calc(100% - 57px);

      .el-table__body {
        position: absolute;
        right: 0;
        left: auto;
      }
    }
  }
}
